* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/fondo6.png'); 
  }
  
  img {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 10px !important;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  }
  
  h1 {
    color: rgb(0, 57, 214);
    text-transform: uppercase;
    font-weight: 500px;
    font-size: 50px;
    font-family: "Kaushan Script", cursive;
    margin: 0;
  }

  .cont-boton {
    transform: translateY(50px);
  }

  .agregar-carrito {
    background-color: rgb(0, 57, 214);
  }
  .agregar-carrito:hover {
    background-color: rgb(0, 25, 94);
  }

  
  #cesta-carrito {
    border: none;
    color: #fff;
    font-size: 30px;
    background-color: rgb(0, 54, 204);
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
  }
  
  #cesta-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(1, 26, 94);
  }
  
  #cesta-carrito:focus {
    outline: none;
  }
  
  #producto-contenedor {
    display: grid;
    gap: 1rem;
    max-width: 60rem;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  p {
    line-height: 1.8;
  }
  
  .card {
    max-width: 30%;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: #272727;
    color: #fff;
  }
  
  select {
    display: inline;
    text-align: center;
    border: 1px solid lightskyblue;
  }
  
  .modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
  }
  
  .modal-carrito {
    position: relative;
    background-color: #9b9b9b;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
  
  .modal-active .modal-carrito {
    margin-top: 0;
  }
  
  .modal-carrito h3 {
    color: rgb(0, 57, 214);
    padding-bottom: 5px;
    font-family: "Quattrocento";

  }
  
  .modal-carrito #btn-cerrar-carrito {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(173, 14, 3) !important;
    border: none;
    background-color: #9b9b9b;
  }
  
  .modal-carrito #btn-cerrar-carrito:hover {
    cursor: pointer;
  }
  
  .modal-carrito #btn-cerrar-carrito:focus {
    outline: none;
  }
  
  .modal-carrito #btn-finalizar-compra {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(1, 100, 1);
    border: 2px solid rgb(2, 75, 2);
    transform: translateX(170px);
    border-radius: 15px;
  }

  .modal-carrito #btn-finalizar-compra:hover {
    background-color: rgb(4, 146, 4);
  }

  .modal-carrito .producto-precio {
    padding-top: 10px;
  }
  
  .card .card-image .card-title {
    color: #8284f7;
    position: unset;
  }
  
  .productoEnCarrito {
    border-left: 5px solid rgb(17, 7, 151);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .productoEnCarrito:hover {
    border-left: 5px solid #6567ff;;
  }
  
  .boton-eliminar {
    background-color: #020474;
    color: #fff;
    border: none;
    font-size: 20px;
  }
  
  .boton-eliminar:hover {
    cursor: pointer;
    background-color: #0408f0;
    color: #fff;
  }
  
  .boton-eliminar:focus {
    outline: none;
    
  }
